h1{color:white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 75;
}
.buttonone{
  background-color:#b01b10;
  color:white;
  border-color:white;
  border-width:2px;
  height:50px;
  width:300px;
  border-style:solid;
  font-weight:bold;
  font-size:25px;
  border-radius:25px;
  cursor:pointer;
  transition:0.15s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 75;
}
.buttonone:hover{
  background-color:white;
  color:#b01b10;
}
.channel:hover{
  text-decoration: underline;
}
.buttonone:active{
  background-color:white;
  color:#b01b10;
  opacity:0.3;
}
.two{
  background-color:green;
  color:white;
  border-style:none;
  font-weight:bold;
  border-radius:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  margin-bottom:10px;
  transition:0.15s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 75;
}
.two:hover{
  background-color:white;
  color:green;
  opacity:0.7
}
.two:active{
  background-color:white;
  color:green;
  opacity:0.3;
}
.three{
  background-color:red;
  color:white;
  border-style:none;
  font-weight:bold;
  border-radius:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  margin-bottom:10px;
  transition:0.15s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 75;
}
.three:hover{
  background-color:white;
  color:red;
  opacity:0.7;
}
.three:active{
  background-color:white;
  color:red;
  opacity:0.3;
}
body{
background-image:linear-gradient(red,black);
min-height:100vh;
}
